$dark-gray-green: #4c5f3c
$gray-green: #8b9c7c
$light-gray-green: #aebaa3

$gray: #ccd0cf
$light-gray: #ebebeb

h1, h2, h3, h4, h5, h6
  font-family: "IM Fell DW Pica Pro"
  padding-left: 0.25em
  margin: 0

h1
  font-size: 3em

h2
  font-size: 2.5em

h3
  font-size: 2em

h4
  font-size: 1.75em

h5
  font-size: 1.5em

h6
  font-size: 1.25em

ul
  list-style: none
  padding: 0
  margin: 0

iframe
  width: 100%
  height: 600px
  border: none

@font-face
  font-family: "IM Fell DW Pica Pro"
  src: url(/fonts/FePIrm27C.otf) format("opentype")

*, *:before, *:after
  box-sizing: border-box !important

.hidden
  display: none !important

body
  background-color: $gray
  font-family: "Droid Sans", sans-serif
  margin: 0
  padding: 0
  line-height: 1.5

.error-container
  position: fixed
  top: 30px
  left: 0
  right: 0
  margin: auto
  width: 530px
  background-color: red
  height: 100px

.divider
  border: none
  border-bottom: 1px solid #ccc

header
  background-color: $gray-green
  color: white
  padding: 0.5em 0
  width: 100%
  height: 150px
  position: relative
  text-align: center

  .centered
    display: inline-block
    vertical-align: middle

  .title
    padding-top: 0.75em
    font-weight: normal

  .logo
    background-image: url(/images/header_logo.png)
    background-repeat: no-repeat
    height: 91px
    width: 70px
    margin: auto

footer
  .button
    margin: auto

.centered
  text-align: center

.button
  border-radius: 3px
  background-color: $dark-gray-green
  color: white
  cursor: pointer
  font-family: Verdana, Geneva, sans-serif
  padding: 0.5em
  text-decoration: none

  &.install
    width: 140px
    margin-top: 1em

.right
  top: 0
  bottom: 0
  right: 2em
  position: absolute
  margin: auto
  max-height: 50px

.prince
  background-image: url(/images/hamlet.png)
  background-repeat: no-repeat
  content: url(/images/hamlet.png) url(/images/hamlet_wink.png)
  display: inline-block
  height: 692px
  width: 343px
  backround-size: 343px 692px
  position: absolute
  top: 3em
  left: 2em

  &:hover
    background-image: url(/images/hamlet_wink.png)

.item
  font-style: normal

  &.completed
    text-decoration: line-through

.code
  display: block
  width: 100%
  height: 235px
  border-radius: 5px
  border: none
  font-family: consolas, monospace
  resize: none
  margin-bottom: 1em
  font-size: 14px

.base
  background-color: $gray-green
  height: 55px

.pitch
  background-color: $light-gray-green

.tag-line
  height: 580px
  padding-left: 400px

.reset
  color: black
  position: absolute
  right: 15px
  top: 15px

.left-column, .right-column
  width: 50%
  display: inline-block
  padding: 0.5em
  padding-bottom: 0
  position: relative
  vertical-align: top

.output
  border-radius: 5px
  background-color: white
  padding: 0.5em
  padding-top: 2em
  width: 100%
  height: 100%
  overflow-y: auto

.competing-example
  background-color: white
  width: 100%

.live-examples
  background-color: $light-gray
  padding: 0.75em 0.5em
  border-radius: 4px
  width: 90%
  margin: auto
  margin-top: -2em

nav.menu
  margin: 1em 0
  text-align: center

  .button
    background-color: $gray
    color: black
    cursor: pointer
    display: inline-block
    width: 19%
    margin: 0 2px

    &.active
      background-color: $dark-gray-green
      color: white

.icon
  display: inline-block

  &.github
    background-image: url(/images/github_icon.png)
    background-repeat: no-repeat
    width: 29px
    height: 25px

.attribution
  font-size: 50%
  margin-left: 1em