.example(class=@hideInactive)
  -if @header.length
    %h4.title
      %span.icon
      %span= @header
  -if @description.length
    %hr.divider
    .description
      %p= @description
  .left-column
    .code.template(value=@sourceTemplate)
    .code.javascript(value=@sourceCode)
  .right-column
    %button.reset(click=@reset) Reset this example
    .output
  -if @competitorUrl
    .competing-example
      %h3
        Compared to
        = @competitorName
      .left-column
        .html.scroll
        .javascript.scroll
      .right-column
        .result.scroll
