.example(class=@hideInactive)
  %h4.title
    %span.icon
    %span= @header
  %hr.divider
  .description
    %p= @description
  .left-column
    .code.template(value=@sourceTemplate)
    .code.javascript(value=@sourceCode)
  .right-column
    %button.reset(click=@reset) Reset this example
    .output
  .competing-example
    %h3= @competitorName
    %iframe(src="#{@competitorUrl}/embedded" width="100%" height="300" allowfullscreen="allowfullscreen" frameborder="0")
