.example(class=@hideInactive)
  %h4.title= @header
  %hr.divider
  .description
    %p= @description
  .left-column
    %textarea.code(placeholder="template code" value=@sourceTemplate)
    %textarea.code(placeholder="JavaScript code" value=@sourceCode)
  .right-column
    %button.reset(click=@reset) Reset this example
    .output
  .competing-example
    %h3 Backbone
    %a(href="http://jsfiddle.net/icoxfog417/pfxP5/" target="_blank") Compare to jsFiddle