/* line 5, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client iframe.html {
  height: 1107px; }
/* line 8, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client iframe.javascript {
  height: 1437px; }
/* line 11, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client iframe.result {
  height: 2551px; }
/* line 14, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .icon {
  background-image: url(/images/email_client.png); }
/* line 17, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client h2 {
  padding-left: 0.5em; }
/* line 20, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client table {
  border-spacing: 0; }
/* line 23, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
  /* line 27, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #email-client th td {
    font-weight: bold; }
/* line 30, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client td {
  border-bottom: 1px solid #dddddd; }
/* line 33, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client tr {
  cursor: pointer; }
/* line 36, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client main {
  left: 30%;
  top: 0;
  position: absolute;
  width: 70%; }
/* line 42, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .output {
  font-size: 12px;
  position: relative;
  height: 986px; }
  /* line 47, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #email-client .output h4 {
    font-size: 18px; }
/* line 50, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .mailbox {
  width: 80%;
  margin: auto;
  padding: 0.5em;
  margin-bottom: 0.5em; }
  /* line 56, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #email-client .mailbox:hover, #email-client .mailbox.active {
    background-color: #e3e3e3; }
/* line 59, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .left {
  border: 1px solid #dddddd;
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  background-color: #eeeeee;
  height: 100%;
  text-align: center; }
/* line 69, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .count {
  margin: 0 3px; }
/* line 72, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client th {
  text-align: left; }
/* line 75, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .template {
  height: 380px; }
/* line 78, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#email-client .javascript {
  height: 600px; }

/* line 82, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#filtered-list .icon {
  background-image: url(/images/filtered_list.png); }
/* line 85, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#filtered-list .phone {
  -webkit-transition-property: height, opacity;
  -moz-transition-property: height, opacity;
  -o-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  background-color: #eeeeee;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding-left: 100px;
  position: relative;
  height: 100px;
  margin: 0.5em 0;
  overflow: hidden; }
  /* line 98, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #filtered-list .phone.hidden {
    display: block !important;
    height: 0;
    opacity: 0;
    border: none;
    margin: 0; }
  /* line 106, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #filtered-list .phone img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 80px;
    height: 80px; }
/* line 115, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#filtered-list .javascript {
  height: 820px; }
/* line 118, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#filtered-list .output {
  height: 1061px; }

/* line 122, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor .icon {
  background-image: url(/images/markdown_editor.png); }
/* line 126, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor iframe.html {
  height: 60px; }
/* line 129, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor iframe.javascript {
  height: 432px; }
/* line 132, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor iframe.result {
  height: 500px; }
/* line 135, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor .template, #markdown-editor .javascript {
  height: 153px; }
/* line 138, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#markdown-editor .output {
  height: 312px; }
  /* line 141, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #markdown-editor .output p {
    margin: 0; }
  /* line 144, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #markdown-editor .output h3 {
    padding-bottom: 0; }
  /* line 147, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #markdown-editor .output textarea {
    border: 1px solid #dddddd;
    width: 100%;
    height: 120px; }

/* line 154, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart iframe.html {
  height: 702px; }
/* line 157, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart iframe.javascript {
  height: 702px; }
/* line 160, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart iframe.result {
  height: 1411px; }
/* line 163, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart .output {
  height: 1236px; }
/* line 166, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart .icon {
  background-image: url(/images/shopping_cart.png); }
/* line 169, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart th {
  text-align: left; }
/* line 172, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart select {
  width: 100px; }
/* line 175, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart .template {
  height: 430px; }
/* line 178, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#shopping-cart .javascript {
  height: 800px; }

/* line 183, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo iframe.html {
  height: 552px; }
/* line 186, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo iframe.javascript {
  height: 2337px; }
/* line 189, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo iframe.result {
  height: 2896px; }
/* line 192, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo .icon {
  background-image: url(/images/todo.png) 2896px; }
/* line 195, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo .template {
  height: 350px; }
/* line 198, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo .javascript {
  height: 600px; }
/* line 201, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo .output {
  height: 956px; }
  /* line 204, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output input[type="checkbox"] {
    margin-right: 1em; }
  /* line 207, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output li {
    font-size: 24px;
    padding: 0.5em;
    padding-left: 0; }
  /* line 212, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output li + li {
    border-top: 1px solid #dddddd; }
  /* line 215, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output h2 {
    text-align: center;
    padding-bottom: 0; }
  /* line 219, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output .count {
    margin: 0 3px; }
  /* line 222, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output .clear {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0 0.5em;
    position: absolute;
    top: 0;
    right: 0.5em;
    bottom: 0;
    margin: auto;
    height: 25px; }
  /* line 234, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
  #todo .output .totals {
    width: 100%;
    background-color: #eeeeee;
    position: relative;
    padding: 0.5em; }
/* line 240, /Users/matt/Code/hamlet-website/source/stylesheets/examples.sass */
#todo input[type="text"] {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 0 0.5em; }
