%header
  %h1 Hamlet Garden
  %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
    %span.icon.github.sprites-github_icon
    %span.text GitHub
.base

%section#garden.live-examples
  .examples
    #inline-events
    #dependent-functions
    #checkbox
    #disable
    #html
    #flights