%header
  %h1.centered.logo
  %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
    %span.icon.github
    %span GitHub
%main
  %section.pitch
    .prince
    .tag-line
      %h2
        Interaction is eloquence.
        .attribution
          = "-William Shakespeare, "
          %i Coriolanus
          (pretty much)

      .description
        Hamlet is a rich templating system that provides bidirectional data binding. It's framework agnostic and focuses on immaculate templating, leaving you to architect your application using your favorite tools. All of this in only 2.7kb, minified and gzipped!
      .button.install Install Hamlet
    .base
  %section.live-examples
    #navigation

    .examples
      #todo
      #markdown-editor
      #email-client
      #shopping-cart
      #filtered-list

%footer.centered
  %p Ready to get started?
  .button.install Install Hamlet
#errors