- install_url = "https://github.com/dr-coffee-labs/hamlet#getting-started"

%header
  %h1
    .centered.logo.sprites-header_logo
    .centered.title Hamlet
  %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
    %span.icon.github.sprites-github_icon
    %span.text GitHub
%main
  %section.pitch
    .tag-line
      %h2
        Interaction is eloquence.
        .attribution
          = "-William Shakespeare, "
          %i Coriolanus
          (pretty much)

      .description
        %p Hamlet is a simple and powerful reactive templating system.

        %p It's framework agnostic and focuses on clean declarative templating, leaving you to build your application with your favorite tools. Hamlet leverages the power of native browser APIs to keep your data model and html elements in sync.

        %p All of this in only 3.7kb, minified and gzipped!
      %a.button.install(href="#{install_url}" target="_blank")
        %span.icon.sprites-install
        %span Install Hamlet
    .base
  %section.live-examples
    .prince
    #navigation

    .examples
      #multi-input
      #todo
      #markdown-editor
      #email-client
      #shopping-cart
      #filtered-list

%footer.centered
  .callout Ready to get started?
  %a.button.install(href="#{install_url}" target="_blank")
    %span.icon.sprites-install
    %span Install Hamlet
#errors
