%header
  %h1
    .centered.logo
    .centered.title Hamlet
  %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
    %span.icon.github
    %span GitHub
%main
  %section.pitch
    .prince
    .testimonials.hidden
      %q Fucking Magic!
      .attribution= "-@progrium"
    .left-arrow.hidden
    .tag-line
      %h2
        Interaction is eloquence.
        .attribution
          = "-William Shakespeare, "
          %i Coriolanus
          (pretty much)

      .description
        %p Hamlet is a rich templating system that provides bidirectional data binding.

        %p It's framework agnostic and focuses on immaculate templating, leaving you to architect your application using your favorite tools.

        %p All of this in only 2.7kb, minified and gzipped!
      %a.button.install(href="https://github.com/dr-coffee-labs/hamlet#installation" target="_blank")
        %span.icon
        %span Install Hamlet
    .base
  %section.live-examples
    #navigation

    .examples
      #todo
      #markdown-editor
      #email-client
      #shopping-cart
      #filtered-list

%footer.centered
  .callout Ready to get started?
  %a.button.install(href="https://github.com/dr-coffee-labs/hamlet#installation" target="_blank")
    %span.icon
    %span Install Hamlet
#errors